*{
    margin: 0px;
    padding: 0px;
}
    
body{
    background:#e4e4e4;
    margin-top: 4px;
    font-family: Arial, sans-serif;
}

div{
   text-align: center;
}

#header{
    background-color: #333;
    padding: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

h1 img{
    width: 140px;
    height: 70px;
    float: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin-left: 30px auto;
}

h2 img{
    width: 140px;
    height: 70px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin-left: 30px auto;
}

#nav{ 
    list-style:none; 
    padding-left: 0px;
    display: block;
    float: left;
    margin-left: 130px;	
    margin-top:30px;  
}

#nav li{
    float:left;
    margin-left: 60px;
}

#nav a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 9px;
    color: #f8f8f8;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
           
#nav a:hover{
    border-bottom: 4px outset;
}

ul#nav a.ativa{
    border-bottom: 4px outset;
}

.container {
    max-width: 1000px;
    font-family: Arial, sans-serif;
    color:#e4e4e4;
    text-align: justify;
    margin: 20px auto; 
    padding: 20px;
    background-color: #6d6d6d; 
    border-radius: 8px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container h1{
    font-family: Arial, sans-serif;
    text-align: center;
}

.container img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.container ul{
    list-style-type: disc; 
    margin-left: 20px;   
}

.container li{
    margin-bottom: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.5);
}

.Dfooter {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.5);
}

#contact-form {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form h2 {
    text-align: center;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form textarea {
    height: 150px;
    resize: none;
}

#contact-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
/*Samsung Galaxy S20*/
@media screen and (min-width:412px) and (max-width: 915px) {
    #nav {
        margin-top: 0; 
    }

    #nav li {
        margin: 0 5px; 
    }

    #nav a {
        font-size: 16px; 
    }

    .container {
        margin-left: 25px;
        margin-top: 70px;
    }

    .container img {
        max-width: 100%; 
        height: auto; 
    }

    .Dfooter{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #header img{
        width: 110px;
        height: 55px;
        float: left; 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    }

    #contact-form {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }
}

